body{
    padding: 0;
    margin:0;
    background-color: #262626;
}

#wrapper{
    width:1000px;
    background-color: white;
    margin: 0px auto;
    min-height: 400px;
    margin-top:40px;
    border-radius: 5px;
    padding: 10px;
}

#form{
    width: 300px;
    margin:0px auto;
    margin-top: 20px;
    border:1px solid black;
}

#menu{
    width:990px;
    margin: 0px auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#menu a{
    text-decoration: none;
    display: inline-block;
    color: #666;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;

}
#menu a:hover{
    display: inline-block;
    color: #000000;
    padding: 20px;
}

#error{
    width: 1000px;
    margin: 0px auto;
}

